spring:
  application:
    name: motriz-api
  data:
    mongodb:
      uri: mongodb://localhost:27017
      database: automotores
  
  jackson:
    serialization:
      write-dates-as-timestamps: false
    default-property-inclusion: non_null

server:
  port: 8081
  servlet:
    context-path: /api/v1

logging:
  level:
    root: INFO
    com.motriz: DEBUG
    org.springframework.data.mongodb: DEBUG
